
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background: #EC8C11;
    background: -moz-linear-gradient(-45deg, #EC8C11 0%, #2dddd7 100%);
    background: -webkit-linear-gradient(-45deg, #EC8C11 0%, #2dddd7 100%);
    background: linear-gradient(135deg, #EC8C11 0%, #2dddd7 100%);
}
#fondo2 {
background-color: #e5e5f7;
opacity: 1;
background-image: radial-gradient(#808080 1.2000000000000002px, #e5e5f7 1.2000000000000002px);
background-size: 24px 24px;
}

#contenedordefoto {
    opacity: 1;
    background-image: url("https://thumbs.dreamstime.com/b/c%C3%B3digo-del-html-20580858.jpg");
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
     box-shadow: 5px 5px 15px 5px #000000;
     margin: 10px;
}

#mifoto {
  margin: 10px;
    -webkit-border-radius: 90px;
    border-radius: 90px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.67); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.67);
    -webkit-box-shadow: inset 5px 5px 15px 5px rgba(0,0,0,0.67); 
    box-shadow: inset 5px 5px 15px 5px rgba(0,0,0,0.67);
}


#presentacion{
    font-weight: bold;
    margin: 10px;
    float: right;
    padding: 10px;
    background-color: white;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 6px;
    color: #000000;
    text-decoration: none;
    text-transform: none;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.67); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.67);
    border-radius:10px;
}
h1{
    font-weight: bold;
}
i {
    color: black;
    font-size:x-large;
    margin-left: 5px;
    margin-right: 2px;

}

i:hover {
    font-size: xx-large;
    color:darkslategrey;
}

#menu {
    font-weight: bold;
    background: linear-gradient(135deg, #EC8C11 0%, #2dddd7 100%);
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.67); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.67);
    margin-bottom: 50px; 
    }


    #hace-click-btn {
        margin-left: 700px;
        color: #000000;
        font-weight: bold;
    }

.contenedor-externo{
    background-color: transparent;
    position: relative;
}

.contenedores{
    background-color: white;
    color:black; 
    font-weight:bold;
    padding:40px;
    border:3px solid #166e6b; 
    margin-top:80px; 
    margin-bottom:80px; 
    text-align:center; 
    font-size:22px;
    border-radius:10px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.67);
    list-style: none;
    text-align: left;
    position: relative;



}
ul{
    list-style: none;
}

.linea {
    border-left: 5px solid  #166e6b;
    height: 80%;
    position: absolute;
    left: 4%;
    top: 30px;
}

.botones{
    color: black;
    background: #EC8C11;
    background: -moz-linear-gradient(-45deg, #EC8C11 0%, #2dddd7 100%);
    background: -webkit-linear-gradient(-45deg, #EC8C11 0%, #2dddd7 100%);
    background: linear-gradient(135deg, #EC8C11 0%, #2dddd7 100%);
    font-size: 20px; 
    line-height: 20px; 
    padding: 20px; 
    border-radius: 10px;
    font-weight: normal; 
    text-decoration: none;
    font-weight: bold;
    box-shadow: black 5px 5px 15px 5px;
     border: 2px solid #2dddd7; 
     display: inline-block;
     margin: 30px;
    }
    

.botones:hover {
        background: #2dddd7; }


        #formulario {
        }
        #titulo-formulario{
            font-weight: bold;
            text-align: center;
        }

 form {
    background: linear-gradient(135deg, #EC8C11 0%, #2dddd7 100%);
    font-weight: bold;
    width: 300px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
      }
          
label {
            display: block;
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: bold;
          }
          
 input,  textarea {
            width: 100%;
            padding: 12px 20px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 16px;
          }
          
input[type="submit"] {
            background-color:  #2dddd7;
            font-weight: bold;
            color:black;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }
          
          input[type="submit"]:hover {
            background-color: #166e6b;
          }

footer{
    margin-top: 100px;
    font-weight: bold;
    margin: 10px;
    float: right;
    padding: 10px;
    background-color: white;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 6px;
    color: #000000;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.67); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.67);
    border-radius:10px;
}


   
